<div class="card">
  <div class="card-header bordered">
    <div class="header-block">
      <h3 class="title">Добавить событие</h3>
    </div>
  </div>
  <div class="card-block">
    <div
      class="alert alert-{{message.type}}"
      *ngIf="message.text"
    >
      {{message.text}}
    </div>
    <form [formGroup]="form" (submit)="onSubmit()">
      <div
        class="form-group"
      >
        <label class="control-label" for="category">Выберите категорию</label>
        <select
          class="form-control"
          id="category"
          formControlName="category"
        >
          <option
            *ngFor="let cat of categories"
            [value]="cat.id"
          >
            {{cat.name}}
          </option>
        </select>
      </div>
      <div
        class="form-group"
      >
        <label class="control-label">Выберите тип</label>
        <div *ngFor="let type of types">
          <label>
            <input
              class="radio"
              name="type"
              type="radio"
              formControlName="type"
              [value]="type.type"
            >
            <span>{{type.label}}</span>
          </label>
        </div>
      </div>
      <div
        class="form-group"
        [ngClass]="{'has-error': form.get('amount').invalid && form.get('amount').touched}"
      >
        <label class="control-label" for="amount">Введите сумму</label>
        <input
          type="number"
          id="amount"
          class="form-control"
          formControlName="amount"
          min="1"
        >
        <span
          class="form-help-text"
          *ngIf="form.get('amount').invalid && form.get('amount').touched"
        >
          <span *ngIf="form.get('amount')['errors']['required']">Enter amount</span>
           <span
             *ngIf="!form.get('amount')['errors']['required'] && form.get('amount')['errors']['min']"
           >Amount should be above 0
           </span>
        </span>
      </div>
      <div
        class="form-group"
        [ngClass]="{'has-error': form.get('description').invalid && form.get('description').touched}"
      >
        <label class="control-label" for="description">Введите описание</label>
        <textarea
          type="text"
          id="description"
          class="form-control"
          placeholder="Напишите тут что-нибудь..."
          formControlName="description"
        >
        <span
          class="form-help-text"
          *ngIf="form.get('description').invalid && form.get('description').touched"
        >
          <span *ngIf="form.get('description')['errors']['required']">Enter amount</span>
        </span>
        </textarea>
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="form.invalid"
      >Добавить
      </button>
    </form>
  </div>
</div>
