  <div class="title-block">
    <h3 class="title">
      Страница записей <span class="sparkline bar"></span>
    </h3>
  </div>
  <section class="section text-center" *ngIf="!isLoaded">
    <sert-loader></sert-loader>
  </section>
  <section class="section" *ngIf="isLoaded">
    <div class="row">
      <div class="col-md-6">
        <sert-add-event [categories]="categories"></sert-add-event>
      </div>
      <div class="col-md-6">
        <sert-add-category (categoryAdd)="newCategoryAdded($event)"></sert-add-category>
      </div>
      <div class="row">
        <div class="col-md-6">
          <sert-edit-category
            [categories]="categories"
            (categoryEdit)="categoryWasEdited($event)"
          ></sert-edit-category>
        </div>
      </div>
    </div>
  </section>
